*{
    width: 600px;
    text-align:justify;
    font-size: large;
    
}
.MAIN{
    width: 650px;
    background-color: green;
    padding-top: 50px;
    border: solid black 2px;
    height: 600px;
}
#header{
    width: 600px;
    height: 50px;
    background-color: rgb(119, 235, 119);
    margin:auto;
    margin-bottom: 10px;
    padding:5px;
}
#nav{
    width: 600px;
    height: 50px;
    background-color: rgb(119, 235, 119);
    margin: auto;
    margin-bottom: 19px;
        padding:5px;

}
.article{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 200px;
    background-color: rgb(119, 235, 119);
    margin: auto;
    padding: auto;
    margin-bottom: 10px;
        padding:5px;

}
#aheader{
        width: 500px;
        height: 80px;
        background-color: antiquewhite;
        margin: auto;
        margin-bottom: 10px;
            padding:5px;

    }
    #main{
        width: 500px;
        height: 1400px;
        background-color: antiquewhite;
        margin: auto;
        margin-bottom: 10px;
            padding:5px;

    }

#section{
    width: 600px;
    height: 50px;
    background-color: rgb(119, 235, 119);
    margin: auto;
    margin-bottom: 10px;
        padding:5px;

}
#aside{
    width: 600px;
    height: 50px;
    background-color: rgb(119, 235, 119);
    margin:auto;
    margin-bottom: 10px;
        padding:5px;

}
#footer{
    width: 600px;
    height: 50px;
    background-color: rgb(119, 235, 119);
    margin: auto;
    margin-bottom: 10px;
        padding:5px;

}