*{
    width: 900px;
    
}

    #main {
        display: flex;
        margin-top: 10px;
        height: 50px;
        width: 900px;
        background-color: rgb(40, 142, 226);
        border: solid black 2px;
    }
#navbar{
        margin-top: 0px;
        height: 50px;
        width: 900px;
        background-color: rgb(40, 142, 226);
        border: solid black 2px;
        text-align: center;
}
.container{
    display: flex;
      box-sizing: border-box;
background-color: burlywood;
width: 905px;
height: 400px;
border: solid black 2px;
}
#left{
    display: flex;
      flex-direction: column;
  width: 600px;
    background-color: bisque;
    border: solid black 2px ;
}
#right{
    display: flex;
      flex-direction: column;
  width: 300px;
    background-color: rgb(216, 216, 31);
    border: solid black 2px ;
}
#navlocal{
    border: solid black 2px;
width: 100%;
height: 198px;
text-align: center;
}
#sidebar{
 border: solid black 2px;
width: 100%;
height: 198px;
text-align: center;
}
#pagetitle{
 width: 100%;
 height: 50px;
background-color: crimson;
text-align: center;
border: solid black 2px ;
}
#container{
    border: solid black 4px;
    height: 148px;
    width: 100%;
    text-align: center;
}
#side{
     display: flex;
      flex-direction: row;
  width: 600px;
    background-color: bisque;
    border: solid black 2px ;
}
#container3{
    border: solid black 2px;
    height: 175px;
    text-align: center;
}
#container2{
    border: solid black 2px;
    text-align: center;
}
#footer{
    background-color: grey;
    width: 900px;
    height: 50px;
    border: solid black 2px;
    text-align: center;
}
