 body{
    background-color: rgb(198, 192, 192);
 }
 #nav{
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(7,1fr);
            padding-left: 20px;
            height: 80px;
            background-color: black;
            color: white;
            align-content: center;
            font-size: larger;
            font-family:sans-serif;
        }
        #bar{
            
             box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(11,1fr);
            padding-left: 10px;
            height: 50px;
            background-color: rgb(20, 20, 41);
            color: white;
            align-content: center;
            font-family:sans-serif;
            font-size: 17px;
            
        }
        a{
           margin: auto;
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: rgb(235, 160, 19);
            border: solid 2px white ;
        }
        #pdt1{
            box-sizing: border-box;
            display: grid;
             grid-template-columns: repeat(4,1fr);
            gap: 15px;
            padding: 10px;
        }
      .product{
        background-color: antiquewhite;
        font-size: x-large;
        padding: 15px;

        }
        #mobile{
            box-sizing: border-box;
            display: grid;
             grid-template-columns: repeat(6,1fr);
            gap: 15px;
            padding: 10px;
             background-color: white;
        }
        #bestseller{
             box-sizing: border-box;
            display: grid;
             grid-template-columns: repeat(6,1fr);
            gap: 15px;
             background-color: white;
            padding: 10px;
        }
        #automobile{
             box-sizing: border-box;
            display: grid;
             grid-template-columns: repeat(5,1fr);
            gap: 15px;
            padding: 10px;
            background-color: white;
        }
        #net{box-sizing: border-box;
            display: grid;
             grid-template-columns: repeat(2,1fr);
           width: 80%;
           margin-left: 150px;
           background-color: white;
           font-size: xx-large;
           padding-bottom: 20px;
        }
        #footer1{
            background-color: rgb(73, 73, 72);
            text-align: center;
            font-size: 20px;
            height: 30px;
        }

        #footer2{
            color: white;
           text-align: center;
            background-color: rgb(51, 51, 51);
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 50px;
            padding-top: 40px;
            text-align:justify;
            padding-left: 20px;
        }
        ul{
            text-align: left;
        }
       #footer3{
        background-color:rgba(31, 31, 36, 0.922);
        height: 100px;
        text-align: center;
        font-size: x-large;
        padding-top: 20px;
       }
       
        /* media..... */
        
        @media (max-width:1024px){
           #nav{
             grid-template-columns: repeat(3,1fr);
           height: 150px;
           }
           a{
            padding-right: 20px;
           }
             #bar{
                padding-left: 0px;
                 grid-template-columns: repeat(3,1fr);
                 height: 100px;
            }
             #pdt1{
            grid-template-columns:  repeat(2,1fr);
            }
             #mobile{
                padding-left: 0px;
                 grid-template-columns: repeat(3,1fr);
                 /* height: 100px; */
            }
             #bestseller{
                padding-left: 0px;
                 grid-template-columns: repeat(3,1fr);
                 /* height: 100px; */
            }
           #automobile{
             padding-left: 0px;
                 grid-template-columns: repeat(2,1fr);
           }
           #net{
            margin-left: 0px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding-left: 20px;
           }
           
        }
        @media (max-width:700px){
            #nav{
             grid-template-columns: repeat(1,1fr);
            height: 400px;
            padding: 20px;
         }
           a{
            margin-bottom: 20px;
           }
            #pdt1{
            grid-template-columns: 1fr;
            font-size: large;
            }
             #bar{
                padding-left: 0px;
                 grid-template-columns: repeat(3,1fr);
                 height: 130px;
            }
            #mobile{
                padding-left: 0px;
                 grid-template-columns: repeat(2,1fr);
                 /* height: 100px; */
            }
             #bestseller{
                padding-left: 0px;
                 grid-template-columns: repeat(2,1fr);
                 /* height: 100px; */
            }
           #automobile{
             padding-left: 0px;
                 grid-template-columns: repeat(2,1fr);
                 gap: 0px;
                 padding: 0px;
           }
           #net{
            margin-left: 0px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding-left:20px;
           }
        }