.main{
            box-sizing: border-box;
           display: grid;
           grid-template-columns: repeat(4,1fr);
           gap: 20px;
           grid-area: auto;
            border: solid 2px black;
            padding-left: 10px;
            padding-right: 10px;
            background-color: antiquewhite;
        }
        #pdt{
            height: 300px;
            border: solid black 2px;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: rgb(212, 211, 211);
            padding-left: 25px;
            padding-top: 40px;
        }
        @media (max-width:1024px){
            .main{
            grid-template-columns:  repeat(2,1fr);
            background-color: aquamarine;
            }
           
        }
        @media (max-width:700px){
            .main{
            grid-template-columns: 1fr;
            font-size: large;
            }
        }