  main{
            
            box-sizing: border-box;
            display: grid;
            
        }
        .nav{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
            height: 70px;
            background-color: black;
            color: white;
            padding-left: 10px;
            padding-top: 20px;
        }
        #cart{
            padding-left: 250px;
            color: white;
        }
        span{
            font-size: xx-large;
        }
        a{
            font-size: large;
            display: inline;
            text-decoration: none;
            color: white;
            margin: 10px;
        }
        #cart{
            font-size: large;

        }
        @media(max-width:769px){
            link{
                display: none;
                font-size: 0.9rem;
            }
        }
        @media (min-width:768px)and(max-width:1024px){
            link{
                font-size: 0.9rem;
            }
            @media (min-width:1025px){
                link{
                    font-size: 1rem;
                }
            }
        }