#nav{
    background-color: black;
    height: 50px;
  padding-bottom: 60px;
  color: aliceblue;
}
ul li{
   display: inline;
   padding-right: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#image{
  padding-top: 20px;
    padding-right: 150px;
}

img{
    padding: 0px;
    margin: 0px;
    
}
a{
    color: aliceblue;
    font-size: larger;
    text-decoration: none;
}
a:hover{
    text-decoration-line:underline;
    color: wheat;
}
#msg{
    font-size: 25px;
    color: brown;
    font-family: cursive;
    text-align: center;
}
.glance{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}
#left{
    margin: 0px;
    padding-top: 50px;
    width: 50%;
    font-size: 50px;
    text-align: center;
    font-style: oblique;
}
#right{
     margin: 0px;
    padding-top: 50px;
    width: 50%;
    font-size: x-large;
    text-align: center;
}