.MAIN{
    width: 100%;
    height: 400px;
    border: solid black 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 50px;
}
#jeet{
    width: 400px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 15px;
    font-size: large;
}
#rani{
    width: 400px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 15px;
    font-size: large;
}
#rohit{
    width: 400px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 15px;
    font-size: large;
}
img{
    border-radius: 100%;
}